<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Music</title>
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <h2>Wanna hear some sweet tunes?</h2>
            <a href="/dashboard" id="options">Back Home</a>
            <a href="/bio" id="options">Learn more about the band.</a>
        </div>
        <div class="music">
            <h1>I wasn't able to download the music from Youtube without spending money in Youtube premium, sorry.</h1>
        </div>
    </div>
</body>
</html>